<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Chat</title>
    <link href="/static/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Chat</h1>
    <div id="chat">
        <ul id="messages">
            {% for message in messages %}
            <li class="message">
                <div class="name">{{ message.username }}</div>
                <div class="text">{{ message.message }}</div>
            </li>
            {% endfor %}
        </ul>
        <div id="compose">
            <input type="text" id="message-input" placeholder="Send a message"></input>
            <button type="button" id="send-button">Send</button>
        </div>
        <div id="error"></div>
    </div>
    <script src="/static/main.js"></script>
</body>

<script>
// Write your JavaScript here
</script>

</html>