<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>New User</title>
    <link href="/static/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="card">
        <h1>New User</h1>
        <div id="error"></div>
        <label for="#username">Username</label>
        <input id="username" type="text" />
        <button type="button" id="submit-username">Submit</button>
    </div>
    <script src="/static/main.js"></script>
</body>

<script>
// Write your JavaScript here
</script>

</html>